ORDER_SERVICE_NAME=add-order-service-name-here
TRACKING_SERVICE_NAME=add-tracking-service-name-here
NOTIFICATION_SERVICE_NAME=add-notification-service-name-here

ORDER_SERVICE_PORT=add-order-service-port-here
TRACKING_SERVICE_PORT=add-tracking-service-port-here
NOTIFICATION_SERVICE_PORT=add-notification-service-port-here

PROMETHEUS_PORT=add-prometheus-port-here
GRAFANA_PORT=add-grafana-port-here
GRAFANA_ADMIN_USER=add-grafana-admin-user-here
GRAFANA_ADMIN_PASSWORD=add-grafana-admin-password-here